#bodyBackground{
    background-color: #393E46;
    color: aquamarine;
    font-family: 'Lobster', cursive;
    line-height: 1.5rem;
    text-align: center;
}
.container{
    margin: 0% 10% 4% 10%;
    text-align: center;
}
#headTitle{
    font-size: 10rem;
    margin-bottom: 2%;
}

.player{
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
}
.credit{
    font-family: 'Indie Flower', cursive;
    color: white;
}
.yellowText{
    color: yellow;
}
.redColor{
    color: red;
}