body{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

/* Top Bar Style */
#topbar{
    margin: 0px auto;
    width: 1100px;
    height: 40px;
}
#logo{
    margin-top: 8px;
    width: 100px;
    float: left;
    margin-right: 8px;
}
.topbar-section{
    float: left;
    border-left: 1px #cccccc solid;
    height: 100%;
}
#signin-image{
    width: 25px;
    margin: 12px 15px;
    float: left;
}
.signin-text{
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 15px;
    margin: 0px 15px;
}
.topbar-text-style{
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 15px;
    margin: 0px 20px;
}
#bell-image{
    width: 25px;
    margin: 10px 15px;
}
.search-div{
    padding: 0px 0px 0px 25px;
    height: 100%;
    border-left: 1px #cccccc solid;
}
#search-box{
    background-color: #e4e4e4;
    border: none;
    padding: 2px 2px 3px 2px;
    font-weight: 900;
    height: 20px;
}
#search-image{
    height: 25px;
    width: 25px;
    padding: 0px;
    position: relative;
    top: 8px;
    left: -4px;
    margin: 0px;
}
.float-right{
    float:right;
}
/* clear the float of top bar */
.clear{
    clear:both;
}
/* Menu Bar Style */
#menu-bar-container{
    background-color: #BB2423;
    width: 100%;
    height: 60px;
    border-top: 1px #cccccc solid;
}
#menu-bar{
    width: 1100px;
    margin: 0px auto;
}
h1{
    margin: 0px;
    padding: 10px 0px 0px 0px;
    width: auto;
    color: white;
    font-weight: normal;
    font-size: 40px;
    float: left;
}
#local-news{
    float: right;
    border: 1px #BB4545 solid;
    margin-top: 10px;
}
#local-news a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: -8px;
    left: 4px;
}
#local-news a:hover{
    text-decoration: underline;
}
#local-news img{
    height: 30px;
    padding-top: 0px;
}
#menu-bar-2-container{
    background-color: #A91F1E;
    height: 30px;
}
#menu-bar-2{
    width: 1100px;
    margin: 0px auto;
    
}
#menu-bar-2 a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-left: 1px #cccccc solid;
    padding: 0px 15px;
    position: relative;
    top: 5px;
}
#menu-bar-2 a:hover{
    text-decoration: underline;
}
.no-border{
    border-left: none !important;
}

#main-section{
    width: 1100px;
    margin: 10px auto;
}
#main-section span{
    width: 1100px;
    margin: 0px auto;
    padding: 2px;
    border-bottom: 2px #A91F1E solid;
    font-size: 20px;
}
#main-section-left{
    margin-top: 25px;
    float: left;
    width: 650px;
    height: auto;
    border-right: 1px black solid;
}
#article-head-link{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    
}
#main-article{
    width: 40%;
    float:left;
    margin: 10px 10px 0px 2px;
}
#main-article-topic{
    padding: 2px;
    color: #5a5a5a;
}
#main-article-link{
    width: 100%;
    text-align: center;
}
#date{
    color: #5a5a5a;
    float: left;
    margin-top:0px !important;
    padding-right:10px;
}
#short-link{
    float: left;
    padding-left: 10px;
    font-size:17px !important;
    font-weight: normal;
    color: #A91F1E;
    border-left: 1px #cccccc solid;
}
.article-external-link{
    text-decoration: none;
    color: black;
}
.article-external-link:hover{
    text-decoration: none;
    color: skyblue;
}
#main-article-img img{
    margin: 10px 2px 0px 2px;
    width: 50%;
}
#main-section-right{
    margin-top: 25px;
    float: left;
    width: 400px;
    height: auto;
}
hr{
    border-top: 1px #A91F1E solid;
    width: 50px;
    text-align: left;
}
#main-section-right{
    width: 300px;
    margin: 15px 20px 0px 20px;


}
h3{
    font-weight: normal;
    font-size: 20px;
}
#main-section-right img{
    width: 100px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
#main-section-right a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
#main-section-right a:hover{
    text-decoration: none;
    color: skyblue;
    font-weight: bold;
    
}