body{
    align-items: center;
    padding: 40px 0;
    background-color:aliceblue !important;
}
.form-login{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
img{
    height: 100px;
    width: 100px;
}
input{
    display: block;
}