body{
    background-color: darkgrey;
}
#header{
    background-color: blueviolet;
    color: white;
    text-align: center;
    width: 100%;
    height: 7%;
    position: fixed;
    top: -2%;
    opacity: 0.7;
    z-index: 2;
}
#first-section{
    width: 49%;
    height: 245px;
    position: relative;
    top: 15px;
    z-index: 1;
    
}
.class_div{
    background-color: red;
    color: white;
    text-align: center;
}
.mid_div{
    background-color: white;
    color:black;
    text-align: center;
}
#id_div{
    background-color: green;
    color: yellow;
    text-align: center;
}
#saitama{
    width: 49%;
    height: 245px;
    float: right;
    position: relative;
    top: 15px;
}
#clear-float{
    clear: both;
}
p{
    font-family: fantasy;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
#position-sticky{
    float: right;
    position: sticky;
    top: 600px;
}

#square-blue{
    background-color: blue;
    height: 100px;
    width: 100px;
    border: 2px black solid;
    border-radius: 25px 15px;
}

a:link{
    text-decoration: none;
    background-color: black;
    color: white;
}
a:hover{
    text-decoration: underline;
    background-color: blue;
}
a:visited{
    text-decoration: none;
    background-color: green;
    color: white;
}
a:active{
    text-decoration: none;
    background-color: red;
}
